@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background-color: rgba(240, 237, 237, 0.815);
}

.tableCell:hover{
	color: blue;
	background-color:#e2e8f0;
	cursor:pointer
}

.pageLink:hover{
	color:rgba(80, 65, 188, 1);
	background-color: white;
}

.icon:hover{
	color: yellow;
}

.page-heading{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	font-weight: 600;
	line-height: 32px;
	letter-spacing: -0.006em;
	text-align: left;    
}

.list-text{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: -0.006em;
	text-align: left;

}