@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgba(240, 237, 237, 0.815);
}

.tableCell:hover{
    color: blue;
    background-color: rgb(238, 238, 245);
    cursor:pointer
}

.pageLink:hover{
    color:slateblue;
    background-color: white;
}