@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgba(240, 237, 237, 0.815);
}

.tableCell:hover{
    color: blue;
    background-color:#e2e8f0;
    cursor:pointer
}

.pageLink:hover{
    color:rgba(80, 65, 188, 1);
    background-color: white;
}

.icon:hover{
    color: yellow;
}