.sidebar {
  width: "320px";
  float: "left";
  height: "100vh";
  position: "fixed";
  overflow:"auto";
}

@media screen and (max-width: 400px) {
	#sidebar{
		width: 100%;
		height: auto;
		position: relative;
	}
}


.extreme {
  background-color: brown;
}